
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
.python-version
.Python
.env
.venv
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
coverage.xml
htmlcov/


*.class
*.jar
*.war
*.ear
*.iml
*.log
hs_err_pid*
target/
out/


node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log


.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes


.vscode/
.history/

.idea/
*.iws
*.ipr
*.iml


Thumbs.db
ehthumbs.db
desktop.ini
~$*
*.tmp
*.swp
*.swo
